.container-main-content-latest-fixtures {
  width: 85%;
  margin: 13vh auto 10vh auto; }
  .container-main-content-latest-fixtures .container-card.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh; }
    .container-main-content-latest-fixtures .container-card.header .fixture-update-interval {
      flex-basis: 20%; }
  .container-main-content-latest-fixtures .split-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 8vw; }
    .container-main-content-latest-fixtures .split-grid .container-card.fixtures, .container-main-content-latest-fixtures .split-grid .container-card.in-play-updates, .container-main-content-latest-fixtures .split-grid .container-card.table {
      width: 100%; }
    .container-main-content-latest-fixtures .split-grid .fixtures.in-play {
      font-size: 90%; }
    .container-main-content-latest-fixtures .split-grid.show-goal-updates {
      grid-template-columns: 2.5fr minmax(400px, 2fr) 2.5fr;
      grid-column-gap: 5vw; }
      .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates {
        overflow: auto;
        height: 68vh; }
        .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates h3 {
          margin-top: 0;
          text-align: center; }
        .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates p {
          color: black;
          font-family: "Courier";
          font-size: 75%;
          margin: 1vh 0 0 1vw;
          white-space: nowrap;
          overflow: hidden;
          width: 30em;
          animation: type 4s steps(60, end); }
          .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates p span.mins {
            margin-right: 0.5vw;
            padding: 0.5vh 0.25vw;
            background-color: #f1efef; }
          .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates p span.team.goal {
            font-weight: 700; }

@keyframes type {
  from {
    width: 0; } }

@media screen and (max-width: 1024px) {
  .container-main-content-latest-fixtures {
    width: 90%; }
    .container-main-content-latest-fixtures .split-grid {
      grid-column-gap: 3vw; }
      .container-main-content-latest-fixtures .split-grid.show-goal-updates .fixtures.in-play-updates p {
        font-size: 60%; } }

@media screen and (max-width: 768px) {
  .container-main-content-latest-fixtures header {
    flex-wrap: wrap; }
  .container-main-content-latest-fixtures .split-grid {
    grid-template-columns: 1fr;
    grid-column-gap: 0; } }
