.fixtures-row {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #E0E0E0; }
  .fixtures-row .homeTeamsName, .fixtures-row .awayTeamsName {
    flex-basis: 50%;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .fixtures-row .homeTeamsName {
    text-align: right;
    padding-right: 0.5vw;
    justify-content: flex-end; }
  .fixtures-row .awayTeamsName {
    text-align: left;
    padding-left: 0.5vw;
    justify-content: flex-start; }
  .fixtures-row .homeTeamsScore, .fixtures-row .awayTeamsScore {
    flex-basis: 1.5vw; }
  .fixtures-row .homeTeamsScore {
    padding-right: 0; }
  .fixtures-row .awayTeamsScore {
    padding-left: 0; }
  .fixtures-row .timeOrScore {
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 6vw;
    text-align: center;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh; }
    .fixtures-row .timeOrScore .timeOfFixture {
      padding: 0.25vh 0.25vw;
      background-color: #e7e5e5; }
    .fixtures-row .timeOrScore.scoresOnly {
      justify-content: space-evenly; }
  .fixtures-row .finalScore {
    color: black;
    background-color: #FFDF43;
    flex-basis: 1.5vw;
    padding: 5px; }
  .fixtures-row.show-goals-hide-border-bottom {
    border-bottom: none; }
  .fixtures-row.in-play {
    border-bottom: none;
    min-height: 4.25vh; }
    .fixtures-row.in-play .homeTeamsScore, .fixtures-row.in-play .awayTeamsScore {
      padding-top: 0.25vh; }
    .fixtures-row.in-play .timeOrScore.timeOnly {
      padding-top: 1vh; }
    .fixtures-row.in-play .activeScore {
      color: white;
      background-color: #1f2fe4;
      flex-basis: 1.5vw;
      padding: 5px; }
    .fixtures-row.in-play .halfTimeScore {
      color: black;
      background-color: #c5caf0;
      flex-basis: 1.5vw;
      padding: 5px; }
  .fixtures-row.team-stats .fixtureDate {
    flex-basis: 20%;
    font-weight: normal; }
  .fixtures-row.team-stats .homeTeamsName, .fixtures-row.team-stats .awayTeamsName {
    flex-basis: 38%; }
  .fixtures-row.team-stats .winDrawLoss {
    flex-basis: 4%;
    font-family: Courier New, Courier, monospace;
    color: white;
    text-align: center; }
  .fixtures-row.team-stats .result {
    padding: 0.25vh 0.25vw; }
  .fixtures-row.team-stats .result.W {
    background-color: green; }
  .fixtures-row.team-stats .result.D {
    background-color: gray; }
  .fixtures-row.team-stats .result.L {
    background-color: red; }

.fixtures-row-goal-times {
  display: flex;
  font-size: 90%;
  color: #888;
  border-bottom: 1px solid #E0E0E0; }
  .fixtures-row-goal-times .teamsGoalTimes {
    flex-basis: 50%;
    white-space: pre;
    /* This allows 2 spaces between goals */
    padding-top: 0;
    padding-bottom: 0.25vh; }
  .fixtures-row-goal-times .teamsGoalTimes.home {
    text-align: right;
    padding-right: 0.25vw; }
  .fixtures-row-goal-times .teamsGoalTimes.away {
    text-align: left;
    padding-left: 0.25vw; }
  .fixtures-row-goal-times .minutesPlayed {
    flex-basis: 6vw;
    text-align: center;
    padding: 0 0.5vw; }
  .fixtures-row-goal-times.team-stats .fixtureDate {
    flex-basis: 20%; }
  .fixtures-row-goal-times.team-stats .teamsGoalTimes {
    flex-basis: 38%; }
  .fixtures-row-goal-times.team-stats .winDrawLoss {
    flex-basis: 4%; }

.icon-position {
  color: #a67c00;
  padding-left: 0.5vw;
  padding-right: 1vw; }

.iconTop3 {
  top: 0;
  left: 0; }

.iconTop3BeforeText, .iconTop3AfterText {
  position: relative; }

.iconTop3BeforeText:before, .iconTop3AfterText:after {
  color: #a67c00;
  padding-left: 0.5vw;
  padding-right: 1vw; }

.iconTop3Home2nd:before, .iconTop3Away2nd:after {
  content: "looks_two"; }
