footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  color: white;
  background-color: #4C4C4C;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1; }
  footer .links {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%; }

@media screen and (max-width: 1024px) {
  footer .links {
    flex-basis: 40%; } }
