nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1; }
  nav .main-heading {
    color: gold;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 1vh 0;
    background: radial-gradient(ellipse at center, #708388 0%, #4a5661 100%);
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    z-index: 2; }
  nav .login-section {
    margin: 0;
    padding: 0; }
  nav .loggedInAs {
    font-weight: normal;
    text-transform: initial;
    margin-top: 5px;
    color: white; }
  nav .login-buttons {
    line-height: 0;
    display: flex;
    justify-content: center; }
    nav .login-buttons button {
      background-color: slategray;
      color: #fff;
      margin: 0 10px 0 0; }
      nav .login-buttons button:hover {
        background-color: #8d9aa6; }
  nav .main-nav {
    max-width: 80%;
    margin: 0 auto; }
  nav .sport {
    color: white;
    background-color: #4C4C4C; }
  nav .individual-sport {
    color: white;
    background-color: black; }
  nav .link-disabled {
    color: darkgray; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 3vh; }
    nav ul li {
      display: inline-block;
      padding: 0.5vh 0.75vw;
      border-right: 1px solid white; }
      nav ul li:hover {
        cursor: pointer; }
      nav ul li:hover.link-disabled {
        cursor: default; }
      nav ul li:first-child {
        padding-left: 0; }
      nav ul li:last-child {
        border-right: none; }
    nav ul li a:hover::after, nav ul .nav-child .nav-child-content a:hover::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #4C4C4C; }
    nav ul li.nav-child {
      display: inline-block; }
    nav ul li a.nav-link:hover {
      text-decoration: none; }
      nav ul li a.nav-link:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #FFDF43; }
    nav ul .nav-child-content {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.603);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      margin-top: 6px; }
      nav ul .nav-child-content a {
        display: block;
        padding: 10px 6px;
        min-height: 25px; }
        nav ul .nav-child-content a:hover {
          background-color: black; }
    nav ul .nav-child:hover .nav-child-content {
      display: block; }
